*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* background-color: #1f1f1f; */
  background-color: 121212;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.nav-cont{
  /* background-color: #1a1a1a; */
  background-color: 121212;
  padding: 1rem 2rem;
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

}
.logo{
  font-size: 2rem;
}
.logo a{
  text-decoration: none;
  color: #fff;
}
.nav a{
    text-decoration: none;
    color: #fff;
}
.nav{
    gap: 2rem;
    display: flex;
}